.asset{
    position: relative;
    margin: 3.625rem   1.6875rem;
    border-radius:  0.9375rem;
    Width: 30rem;
    Height: 36.25rem;
    background-color: #fdfdfd;
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25), 0px -0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
}
.as-title{
    background-color: black;
    height:3.125rem;
    color:#fff;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
}
.a-ico{
    position: absolute;
    top: 3%;
    right: 1.75rem;
    letter-spacing: 0.02em;
    width:1.375rem;
}
.as-des{
    height: 5.5rem;
    background-color: #fdfdfd;
}
.as-container{
    height:24.9375rem;
    background-color: #FDFDFD;
    border-top: 0.0625rem solid #D1CECE;
}

.jb.asset{
    width:24.5rem;
    height:46.375rem;
    position: fixed;
    top: 0;
    left:0;
    z-index: 999;
    margin-left:0;
}
.main{
    margin-top: 1.3125rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}
a.clk{
    color: white;
    cursor: pointer;
}
