.btn,.btn:hover,
.btn:focus,
.btn:active{
  background-color: #0029FF;
  color: #fff;
  transition: none;
  border: none;
}

.title{
  margin-inline: 11.7rem;
}

.text{
  background-color: #E9ECEF;
  padding: 1.5625rem 1.6875rem;
  margin-top: 2.31rem;;
}